src/main/resources/wsdl/score.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://soap.spring.api.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.spring.api.com/" targetNamespace="http://soap.spring.api.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.spring.api.com/">
            <xs:element name="GetScoreRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetScoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="score" type="tns:score"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="score">
                <xs:sequence>
                    <xs:element name="user" type="xs:string"/>
                    <xs:element name="wins" type="xs:int"/>
                    <xs:element name="losses" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetScoreRequest">
        <wsdl:part element="tns:GetScoreRequest" name="GetScoreRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetScoreResponse">
        <wsdl:part element="tns:GetScoreResponse" name="GetScoreResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ScorePort">
        <wsdl:operation name="GetScore">
            <wsdl:input message="tns:GetScoreRequest" name="GetScoreRequest"> </wsdl:input>
            <wsdl:output message="tns:GetScoreResponse" name="GetScoreResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ScorePortSoap11" type="tns:ScorePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetScore">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetScoreRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetScoreResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ScorePortService">
        <wsdl:port binding="tns:ScorePortSoap11" name="ScorePortSoap11">
            <soap:address location="http://localhost:5000/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>